<h1>
  Your <%= pluralize @lists.count, 'list' %>
</h1>

<div class="row">
  <% @lists.order(:name).each do |list| %>
    <div class="col s12 m4 l3">
      <%= link_to list do %>
        <div class="hoverable card-panel red">
          <h2><%= list.name %></h2>
          <p>
            names <%= pluralize list.persons.count, 'person' %>
          </p>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="col s12 m4 l3">
    <%= link_to new_list_path do %>
      <div class="hoverable card-panel grey">
        <h2>Create a list</h2>
        <p>Set up a new list</p>
      </div>
    <% end %>
  </div>
</div>