<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#stream" role="tab">
      Stream
      <span class="badge badge-default <%= @inclusions.any? ? 'badge-success' : 'badge-danger' %>"><%= @inclusions.count > 500 ? '500+' : @inclusions.count %></span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#people" role="tab">
      People
      <span class="badge badge-default <%= @people.any? ? 'badge-success' : 'badge-danger' %>"><%= @people.count %></span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#triggers" role="tab">
      Triggers
      <span class="badge badge-default <%= @triggers.any? ? 'badge-success' : 'badge-danger' %>"><%= @triggers.count %></span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#sublists" role="tab">
      Sub-lists
      <span class="badge badge-default badge-info"><%= List.where(parent_list_id: @list.id).count %></span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Settings</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home" role="tabpanel">
    <%= render partial: 'lists/panes/overview', locals: { list: @list, triggers: @triggers } %>
  </div>
  <div class="tab-pane" id="stream" role="tabpanel">
    <%= render partial: 'lists/panes/stream', locals: { list: @list, inclusions: @inclusions } %>
  </div>
  <div class="tab-pane" id="people" role="tabpanel">
    <%= render partial: 'lists/panes/people', locals: { list: @list, people: @people } %>
  </div>
  <div class="tab-pane" id="triggers" role="tabpanel">
    <%= render partial: 'lists/panes/triggers', locals: { list: @list, triggers: @triggers } %>
  </div>
  <div class="tab-pane" id="sublists" role="tabpanel">
    <%= render partial: 'lists/panes/sublists', locals: { list: @list } %>
  </div>
  <div class="tab-pane" id="settings" role="tabpanel">
    <%= render partial: 'lists/panes/settings', locals: { list: @list } %>
  </div>
</div>
