<br />
<h1>
  <%= @person.name %>
  <span class="badge badge-default float-right">
    <%= link_to @person.medium, "https://www.reddit.com/u/#{@person.name}", class: 'text-white' %>
  </span>
</h1>
<br />

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#lists" role="tab">
      Lists
      <span class="badge badge-default <%= @person.lists.any? ? 'badge-success' : 'badge-danger' %>"><%= @person.lists.count %></span>
    </a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home" role="tabpanel">
    <%= render partial: 'people/panes/overview', locals: { person: @person } %>
  </div>
  <div class="tab-pane" id="lists" role="tabpanel">
    <%= render partial: 'people/panes/lists', locals: { person: @person } %>
  </div>
</div>
