<table class="table">
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% inclusions.each do |inclusion| %>
      <tr>
        <td>
          <%= form_for inclusion, method: :put  do |f| %>
            <%= f.hidden_field :flagged_invalid_at, value: DateTime.current.to_s %>
            <%= f.submit 'Remove flag', class: 'right btn red black-text' %>
          <% end %>
          
          <p class="white-text">
            <%= link_to inclusion.person.name, inclusion.person %>
              <%= link_to "https://www.reddit.com/u/#{inclusion.person.name}" do %>
                <%= fa_icon 'reddit' %>
              <% end %>
            at
            <%= link_to 'this link', inclusion.source_url %>
            said:
          </p>
          <blockquote><%= inclusion.matched_text %></blockquote>
          <p>
            <small class="grey-text">
              Posted <%= time_ago_in_words inclusion.posted_at %> ago
            </small>
          </p>
          <p>
            Trigger activated:
            <%= link_to inclusion.trigger.name, inclusion.trigger %>
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
