<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Search Query</th>
      <th>Match Pattern</th>
      <th>Confidence</th>
      <th>Tags</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% triggers.order(:name).each do |trigger| %>
      <tr>
        <td><%= link_to trigger.name, trigger %></td>
        <td><span class="badge blue white-text"><%= trigger.search_query %></span></td>
        <td><span class="badge blue white-text">/<%= trigger.pattern %>/</span></td>
        <td><span class="badge red white-text"><%= trigger.confidence %></span></td>
        <td>
          <% trigger.user_tags_applied.each do |tag_text| %>
            <span class="badge grey white-text"><%= tag_text %></span>
          <% end %>
        </td>
        <td>
          <%= form_for trigger, remote: true, format: 'json' do |f| %>
            <%= f.check_box :enabled, data: { toggle: 'toggle', onstyle: 'success', size: 'small' }, class: 'js-submit-on-change' %>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_trigger_path(trigger) %></td>
        <td><%= link_to 'Destroy', trigger, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-sm-12">
    <div class="card-panel grey darken-1 white-text">
      <h2>
        Add <%= triggers.any? ? 'another' : 'a' %> trigger
      </h2>
      <div>
        <%= render partial: 'triggers/form', locals: { trigger: Trigger.new(list: @list) } %>
      </div>
    </div>
  </div>
</div>
