<h1>
  <%= link_to 'New Category', new_category_path, class: 'btn btn-primary float-right' %>
  Categories
</h1>

<div class="row">
  <% @categories.each do |category| %>
    <div class="col-sm-3 card">
      <div class="card-block">
        <h4 class="card-title"><%= category.name %></h4>
        <p class="card-text">
          <%= link_to pluralize(category.lists.count, 'list'), category %>
        </p>
        <%= link_to 'Edit', edit_category_path(category), class: 'card-link' %>
        <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-link' %>
      </div>
    </div>
  <% end %>
</div>
