<!DOCTYPE html>
<html>
  <head>
    <title>RedditWatchlist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <%= link_to 'reddit-watchlist', root_path, class: 'navbar-brand' %>
    </nav>

    <p id="notice"><%= notice %></p>

    <%= yield %>
  </body>
</html>
