<!DOCTYPE html>
<html>
  <head>
    <title>Listpump</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="black white-text">

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded black">
      <%= link_to 'Listpump', root_path, class: 'navbar-brand red white-text' %>

      <ul class="navbar-nav">
        <% if !user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Log in', new_user_session_path, class: 'nav-link white-text' %>
          </li>
        <% else %>
          <li class="nav-item red-text">
            <%= pluralize current_user.credits, 'credit' %> remaining
          </li>
        <% end %>
      </ul>
    </nav>

    <div class="container">
      <% if notice %>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= notice %>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <div class="footer">
      <div class="grey-text center">
        v<%= `git log | grep commit | wc -l`.strip %> <%= `git log | head -n 1` %>
      </div>
    </div>
  </body>
</html>
